<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>BankWebApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>BankInfo</servlet-name>
    <servlet-class>com.javatraining.apex.BankInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PersonalInfo</servlet-name>
    <servlet-class>com.javatraining.apex.PersonalInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ContactInfo</servlet-name>
    <servlet-class>com.javatraining.apex.ContactInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Success</servlet-name>
    <servlet-class>com.javatraining.apex.Success</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sample</servlet-name>
    <url-pattern>/sample</url-pattern>
  </servlet-mapping>
</web-app>